@page
@model YogaCenterManagement.Pages.ManagerFlow.SalaryRequestChange.InstructorListModel

@{
    ViewData["Title"] = "InstructorList";
}

<h1>InstructorList</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Instructor[0].Salary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Instructor[0].IsSalaryChangeRequested)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Instructor[0].Member)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Instructor) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Salary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsSalaryChangeRequested)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Member.Address)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.InstructorId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.InstructorId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.InstructorId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
