@page
@model YogaCenterManagement.Pages.ManagerFlow.InstructorManagement.InstructorViewModel

@{
    ViewData["Title"] = "InstructorView";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Instructor[0].InstructorId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Instructor[0].Salary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Instructor[0].IsSalaryChangeRequested)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Instructor[0].Member)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Instructor)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.InstructorId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Salary)
                </td>
                <td>
                    @if (item.IsSalaryChangeRequested is true)
                    {
                        <span>Accepted</span>
                    }
                    else if (item.IsSalaryChangeRequested is false)
                    {
                        <span>Rejected</span>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Member.FullName)
                </td>
                <td>
                    <a asp-page="./UpdateStatus" asp-route-id="@item.InstructorId">UpdateStatus</a> |
                    <a asp-page="./Details" asp-route-id="@item.InstructorId">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.InstructorId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
