@page
@model YogaCenterManagement.Pages.ManagerFlow.MemberManagement.MemberViewModel

@{
    ViewData["Title"] = "MemberView";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table table-bordered table-hover">
    <thead class="thead-dark">
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Member[0].Username)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Member[0].Password)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Member[0].Email)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Member[0].Role)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Member[0].FullName)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Member[0].Phone)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Member[0].Address)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Member) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.MemberId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.MemberId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.MemberId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
