@page
@model YogaCenterManagement.Pages.UserFlow.ChangeClassRequestViewPageModel

@{
    ViewData["Title"] = "ChangeClassRequestViewPage";
}

<h1>ChangeClassRequestViewPage</h1>

@if (ViewData["null"] != null)
{
    <h3 style="color: red">@ViewData["null"]</h3>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ClassChangeRequest[0].RequestDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClassChangeRequest[0].IsApproved)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClassChangeRequest[0].Class)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ClassChangeRequest) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RequestDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsApproved)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Class.ClassName)
            </td>

@*            <td>
                <a asp-page="./Edit" asp-route-id="@item.RequestId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.RequestId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.RequestId">Delete</a>
            </td>*@
        </tr>
}
    </tbody>
</table>
