@page
@model YogaCenterManagement.Pages.ManagerFlow.EquipmentManagement.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Equipment Management</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="class=" table table-bordered table-hover"">
    <thead class="thead-dark">
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Equipment[0].EquipmentId)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Equipment[0].EquipmentName)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Equipment[0].Quantity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Equipment)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EquipmentId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EquipmentName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.EquipmentId">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.EquipmentId">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.EquipmentId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
