@page
@model YogaCenterManagement.Pages.SampleListClassModel

@{
    ViewData["Title"] = "SampleListClass";
}

<h1>SampleListClass</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Class[0].ClassName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Class[0].StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Class[0].EndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Class[0].Capacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Class[0].IsApproved)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Class[0].MoneyNeedToPay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Class[0].Instructor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Class[0].Room)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Class) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClassName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capacity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsApproved)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MoneyNeedToPay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Instructor.InstructorId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Room.RoomName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ClassId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ClassId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ClassId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
